[mysqld]

server-id=43   
datadir=/data/mysql
max_connections=2000  
init-connect='SET NAMES utf8mb4'
character-set-server=utf8mb4
port            = 3306
socket          = /data/mysql.sock
skip-external-locking
explicit_defaults_for_timestamp=true
disable-partition-engine-check

ssl_ca =/data/mysql/ca.pem
ssl_cert=/data/mysql/server-cert.pem
ssl_key =/data/mysql/server-key.pem

symbolic-links=0

gtid_mode = ON
enforce_gtid_consistency = 1

transaction_isolation = READ-COMMITTED
max_allowed_packet = 1073741824
table_open_cache = 1024
sort_buffer_size = 20M
read_buffer_size = 20M
read_rnd_buffer_size = 20M
join_buffer_size = 20M

innodb_thread_concurrency = 16 
innodb_sort_buffer_size = 33554432
innodb_read_io_threads=16  
innodb_write_io_threads=16  

skip_name_resolve

innodb_buffer_pool_size = 512M  
innodb_file_per_table = 1
event_scheduler = 1
innodb_data_home_dir = /data/mysql


lower_case_table_names=1
slow_query_log=on
slow_query_log_file=slowquery.log
long_query_time=10 
log_queries_not_using_indexes=off


innodb_log_file_size = 1024M
innodb_log_buffer_size = 500M

log_bin_trust_function_creators = 1

log-error=/data/mysql/mysqld.log
pid-file=/data/mysql/mysqld.pid

log-bin=mysql-bin                