[mysqld]

server-id = {{MYSQL_ID}}

basedir = {{ BASE_DIR }}
datadir = {{DATA_DIR}}
max_connections = 2000  
init-connect = 'SET NAMES utf8mb4'
character-set-server = utf8mb4
port = {{MYSQL_PORT}}
socket = {{DATA_DIR}}/mysql.sock
skip-external-locking
explicit_defaults_for_timestamp = true
disable-partition-engine-check

ssl_ca = {{DATA_DIR}}/ca.pem
ssl_cert = {{DATA_DIR}}/server-cert.pem
ssl_key = {{DATA_DIR}}/server-key.pem

symbolic-links=0
gtid_mode = ON
enforce_gtid_consistency = 1

lc-messages = en_US
lc-messages-dir = /usr/share/mysql

transaction_isolation = READ-COMMITTED
table_open_cache = 1024
sort_buffer_size = 20M
read_buffer_size = 20M
read_rnd_buffer_size = 20M
join_buffer_size = 20M

innodb_read_io_threads = ${CPU_CORE_NUMBER}
innodb_write_io_threads = ${CPU_CORE_NUMBER}

skip_name_resolve

innodb_buffer_pool_size = ${MEM_BUFFER_SIZE}M
innodb_file_per_table = 1
event_scheduler = 1
innodb_data_home_dir = {{DATA_DIR}}

lower_case_table_names = 1
slow_query_log = on
slow_query_log_file = slowquery.log
long_query_time = 10  
log_queries_not_using_indexes = off

log-bin=mysql-bin
log-bin-index = mysql-bin.index
binlog_format = row
sync-binlog = 1

innodb_log_file_size = 1024M
innodb_log_buffer_size = 500M
log_bin_trust_function_creators = 1

log-error = {{DATA_DIR}}/mysqld.log
pid-file = {{DATA_DIR}}/mysqld.pid